@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    scroll-behavior: smooth;
}
/* Fonts */
h1 {
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 3rem;
    margin: 5px;
    text-align: center;
}
h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    /* font-family: 'Inter'; */
}
h1 b, h2 b {
    /* background: #C2EAE1; */
    /* padding: 0px 10px 0px 0px; */
    /* font-weight: 700 */
}
h3 {
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    text-align: center;
    margin-top: 70px;
}
@media (max-width: 900px) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 2.25rem;
    }
}

/* @media (min-width: 1800px) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 100px;
    }
} */



p {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
p b {
    font-weight: 600;
    font-style: normal;
}
h5 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
h6 {
    font-weight: 400;
    font-size: 1rem;
}
h6 b {
    font-weight: 600;
    font-style: normal;
}
.end {
    text-align: end;
}
/* row on desktop, column on mobile */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.rowc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media (min-width: 1200px) {
    .rowc {
        flex-direction: row;
        align-items: start;
    }
    .reversec {
        flex-direction: row-reverse;
    }
}
.column {
    display: flex;
    flex-direction: column;
}

/* Structure */
body {
    font-family: 'Instrument Sans', sans-serif;
    margin: 0px;
    width: 100vw;
    overflow-x: clip;
    /* background: blue; */
        background-size: 20px 20px;
        background-image: linear-gradient(to right, rgba(128, 128, 128, .011) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, .011) 1px, transparent 1px);
}
section {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-x: clip;
    position: relative;
}
@media (min-width: 950px) {
    section {
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

/* Toolbar */
#toolbar {
    width: 75vw;
    margin: 0px;
    padding: 0px 12.5vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* White to transparent gradient top to bottom */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

@media (max-width: 950px) {
    #toolbar .startrow {
        margin: auto;
    }
}

#toolbar .middlerow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 950px) {
    #toolbar .middlerow {
        display: none;
    }
}

#toolbar .rightrow {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
#toolbar .middlebutton {
    margin: 0px 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}
#toolbar .middlebutton a {
    color: #444;
    text-decoration: none;
}
#toolbar .middlebutton a:hover {
    color: black;
    text-decoration: underline;
}


.logo {
    width: 200px;
    height: auto;
    display: block;
    cursor: crosshair;
    transform: scale(1) rotateZ(0deg);
    transition: transform 0.3s ease;
}
.logo:hover {
    transform: scale(1.02) rotateZ(10deg);
}
.platform-button {
    display: none;
}

.platform-button button {
    margin: 10px;
    background: #f7fafc00;
    border-radius: 50px;
    border: 0px solid black;
    padding: 10px 20px;
    transition: transform 0.3s ease;
    font-weight: 300;
    /* text-decoration: underline; */
    color: black;
    background: #C2EAE1;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(0px, 0px);
    /* box-shadow: 2px 3px 0px 0px black; */
}
.platform-button button:hover {
    background: #a0c7be;
    transform: translate(0px, 1px);
    box-shadow: 0px 0px black;
}
.platform-button.outline button {
    background: white;
    outline: 2px solid #C2EAE1
}
.platform-button.outline button:hover {
    background: #E5E5E5;
    outline: 2px solid #C2EAE1
}

@media (min-width: 1300px) {
    .platform-button {
        display: block;
    }
}

/* Hero */
#hero {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    height: 70vh;
    min-height: 500px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 10vh;
    /* radial background, white in middle till 50% then fade to transparent */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 60%);
}
@media (max-width: 900px) {
    #hero {
        height: 40vh;
        padding-top: 10vh;
    }
}
.white-example .info {
    background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 70%);
}

/* Spadework definition */
/* #hero u {
    text-decoration: none;
    background-image: linear-gradient(to right, #C2EAE1 90%, rgba(255,255,255,0) 0%);
    background-position: 0 1.05em;
    background-size: 20px 8px;
    background-repeat: repeat-x;
    text-decoration: none;
} */

/* #hero u {
    text-decoration-style: 10px solid #C2EAE1;
} */

.hero-button {
    display: none;
    margin-top: 100px;
    z-index: 5;
}
.hero-button button {
    color: black;
    background: #C2EAE1 !important;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(0px, 0px);
    border: 1px solid #555;
    box-shadow: 2px 3px 0px 0px black;
}
.hero-button button:hover {
    background: #a0c7be !important;
    transform: translate(1px, 2px);
    box-shadow: 0px 0px black;
}
/* Only show Learn More button on big screens */
@media (min-width: 1300px) {
    .hero-button {
        display: block;
    }
}

#intro {
    margin-bottom: 100px;
}


/* Green Example */
.green-example {
    position: relative;
    height: auto;
    background: #A4E2D3 !important;
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Green background things */
.background-swoop {
    position: absolute;
    bottom: -1px;
    left: 0px;
    z-index: -1;
    width: 100vw;
}
.background-swoop2 {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100vw;
    /* transform scale x and y -1 */
    transform: scale(-1);
    z-index: -1;
}
.background-swoop-end {
    position: absolute;
    bottom: -1px;
    left: 0px;
    z-index: -1;
    width: 100vw;
}

.background-2 {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 0px;
    width: 1920px;
    background: #C2EAE1 !important;;
    z-index: -1;
}

.intropic {
    width: 100vw;
    max-width: 500px;
    height: auto;
}
.green-example .info {
    text-align: start;
}

/* White Examples */
.white-example {
    position: relative;
    padding-top: 150px;
}
@media (max-width: 1000px) {
    .white-example {
        padding-top: 100px;
    }
}



.gameplay {
    width: 90vw;
    max-width: 700px;
    height: auto;
    z-index: 5;
    box-shadow: rgba(10, 0, 31, 0.1) 0px 1px 24px 4px;
    border-radius: 5px;
}
@media (min-width: 1200px) {
    .gameplay {
        max-width: 600px;
    }
    .gameplay.first {
        max-width: 1040px;
    }
}
.gameplay.first {
    margin-top: -350px;
}

@media (min-width: 1800px) {
    .gameplay.first {
        max-width: 1200px;
    }
}

@media (max-width: 1300px) {
    .comingsoon-image {
        display: none;
    }
}

.white-example .info {
    text-align: start;
}
.pright {
    padding-right: 0px;
}
.pleft {
    padding-left: 0px;
}
@media (min-width: 1300px) {
    .pright {
        padding-right: 20px;
    }
    .pleft {
        padding-left: 20px;
    }
}
@media (min-width: 1800px) {
    .pright {
        padding-right: 50px;
    }
    .pleft {
        padding-left: 50px;
    }
}
.gameplay, .logo, .logo-bottom {
    transition: scale 0.3s ease;
    /* cursor: pointer; */
    object-fit: contain;
}
.gameplay:hover, .logo:hover, .logo-bottom:hover {
    scale: 1.025;
}


/* Secties */
.info {
    /* width: 700px; */
    z-index: 2;
    position: relative;
    /* width: 1080px; */
    /* max-width: calc(100vw - 2em); */
    margin: 60px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
@media (max-width: 500px) {
    .info {
        margin: -10px 30px 30px 30px;
    }
}

.title {
    font-weight: 100;
    font-size: 1rem;
    /* text-transform: lowercase; */
    color: #222;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;;
}
.tagline {
    font-weight: 600;
    color: black;
}
.description {
    font-size: 2rem;
    font-weight: 300;
    width: 820px;
    max-width: 90vw;
    color: #222;
}
@media (max-width: 1080px) {
    .description {
        font-size: 1.5rem;
    }
}

.cta-button {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
@media (max-width: 1300px) {
    .cta-button {
        display: none;
    }
}

.cta-button a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #C2EAE1 !important;
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(0px, 0px);
    box-shadow: 1px 2px 0px 0px black;
    border: 1px solid black;
}
.cta-button a:hover {
    background: #a0c7be !important;
    transform: translate(1px, 2px);
    box-shadow: 0px 0px black;
}

/* Coming soon */
#soon {
    margin-top: 90px;
    text-align: start;
}

@media (min-width: 1300px) {
    #soon {
        margin-top: 150px;
        text-align: center;
    }
}


/* The Team */
#team {
    padding-top: 300px;
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 320px
}
@media (max-width: 1300px) {
    #team {
        padding-top: 150px;
    }
}
#team h3 {
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}
@media (min-width: 1300px) {
    .team-list {
        max-width: 1300px;
    }
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    width: 140px;
    /* perspective: 150px; */
}
.profile-picture {
    border: 1px solid #BABBBB;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #BABBBBA0;
    margin-bottom: 10px;
    width: 140px;
    height: auto;
}


.team-card img {
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
    transition: transform 0.5s;
    cursor: grab;
}
.team-card:hover img {
    transform: rotateY(15deg);
    transform: rotateZ(2deg);
}
.team-card p {
    margin-bottom: 5px;
}
@media (min-width: 950px) {
    .team-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .team-card {
        width: 200px;
    }
    .profile-picture {
        width: 200px;
        height: auto;
    }
}

.rowdesktopcolumnmobile {
    flex-direction: row;
}
@media (max-width: 1080px) {
    .rowdesktopcolumnmobile {
        flex-direction: column;
    }
}
.feature {
    width: 500px;
    max-width: 90vw;
    height: 450px;
    max-height: 95vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.feature .thumbnail {
    width: 500px;
    max-width: 90vw;
    max-height: 85vw;
    margin-bottom : 20px;
    transform: scale(1), rotateX(0deg);
    transition: transform 0.3s ease;
    /* cursor: pointer; */
}
.feature .thumbnail:hover {
    transform: scale(1.01) rotateX(15deg);
}
.feature .thumbnail img {
    border-radius: 10px;
    box-shadow: rgba(10, 0, 31, 0.1) 0px 1px 24px 4px;
}
.featuretitle {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}
.featuredescription {
    font-weight: 300;
    font-size: 1.25rem;
}
.featuretagline {
    font-weight: 600;
    font-size: 1.25rem;
}


.lastcta {
    display: flex;
}
@media (max-width: 1080px) {
    .lastcta {
        display: none;
    }
}

/* FAQ */
#FAQ {
    margin-top: 150px;
}
#FAQ h3 {
    text-align: center;
}

.faq-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq-entry {
    max-width: 600px;
    margin: 40px;
}

/* Kleine lettertjes */
#kleine-lettertjes {
    position: relative;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    background: #272D2D !important;;
    padding-bottom: 50px;
}

#kleine-lettertjes a {
    margin: 40px 20px 20px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    color: white;
}
.logo-bottom {
    width: 180px;
    opacity: 0.65;
}
.copyright {
    color: grey;
    margin-top: 0px;
    text-align: center;
}
@media (min-width: 950px) {
    #kleine-lettertjes a {
        font-size: 1rem;
    }
    .copyright {
        margin-top: 30px;
    }
}


.invert-color {
    /* use effects to make black image white */
    filter: invert(1);
    -webkit-filter: invert(1);
}


/* Contact form */
#contact-form input, #contact-form textarea {
    padding: 10px !important;
    width: 290px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-family: 'Instrument Sans', sans-serif;
    border-style: solid;
    border: 1px solid #272D2D40;
}
#contact-form input:focus, #contact-form textarea:focus {
    outline: none !important;
    border: 1px solid #C2EAE1;
    box-shadow: 0 0 10px #C2EAE150;
}
#contact-form label {
    text-align: start;
    width: 310px;
}

#contact-form #message {
    padding: 5px;
    width: 300px;
}
#contact-form #submit {
    width: 150px;
    cursor: pointer;
    background: #c2eae1;
    border: 1px solid #272D2D40;
    font-weight: 500;
}
#contact-form #submit:hover {
    background: #a0c7be;
}
#contact-form textarea {
    resize: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 310px !important;
}