@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    scroll-behavior: smooth;
}
/* Fonts */
h1 {
    font-family: 'Instrument Sans', serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 3rem;
    margin: 0px;
}
h2 {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    margin-top: 20px;
}
h2 u {
    font-size: 1.9rem;
}
h3 {
    font-family: 'Inter', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    margin-top: 30px;
}
@media (min-width: 630px) {
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h2 u {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 2rem;
    }
}
@media (min-width: 2000px) {
    h1 {
        font-size: 5.5rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h2 u {
        font-size: 3.3rem;
    }
    h3 {
        font-size: 2rem;
    }
}
p {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
p b {
    font-weight: 600;
    font-style: normal;
}
h5 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
h6 {
    font-weight: 400;
    font-size: 1rem;
}
h6 b {
    font-weight: 600;
    font-style: normal;
}
.end {
    text-align: end;
}
/* row on desktop, column on mobile */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.rowc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media (min-width: 1200px) {
    .rowc {
        flex-direction: row;
        align-items: start;
    }
    .reversec {
        flex-direction: row-reverse;
    }
}
.column {
    display: flex;
    flex-direction: column;
}

/* Structure */
body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    width: 100vw;
    overflow-x: clip;
    background: #FFF;
}
section {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-x: clip;
}
@media (min-width: 950px) {
    section {
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

/* Toolbar */
#toolbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#toolbar .rightrow {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.logo {
    width: 160px;
    height: auto;
    display: block;
    cursor: crosshair;
}
.platform-button {
    display: none;
}

.platform-button button {
    cursor: pointer;
    margin: 20px;
    background: #f7fafc00;
    border-radius: 50px;
    border: 0px solid black;
    padding: 10px 20px;
    transition: transform 0.3s ease;
    font-weight: 300;
    /* text-decoration: underline; */
    color: black;
    background: #C2EAE1;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(0px, 0px);
    /* box-shadow: 2px 3px 0px 0px black; */
}
.platform-button button:hover {
    background: #a0c7be;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px black;
    text-decoration: underline;
}

@media (min-width: 1300px) {
    .platform-button {
        display: block;
    }
}

/* Hero */
#hero {
    height: 50vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
@media (min-width: 1300px) {
    #hero {
        height: 60vh;
        padding-top: 0vh;
        padding-bottom: 16vh;
        justify-content: center;
    }
    .main-quote {
        padding-left: 75px;
    }
}

/* Spadework definition */
#hero u {
    text-decoration: none;
    /* font-size: 200;
    text-decoration-style: 10px dashed #C2EAE1; */
    background-image: linear-gradient(to right, #C2EAE1 90%, rgba(255,255,255,0) 0%);
    background-position: 0 1.05em; /* Position of the underline */
    background-size: 20px 8px; /* Size of the dashes */
    background-repeat: repeat-x;
    text-decoration: none;
}

.word-with-tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.word-with-tooltip .tooltip-image {
    visibility: hidden;
    height: 135px;
    width: 360px;
    bottom: -155px; /* Position the tooltip image */
    margin-left: -270px; /* Use half of the tooltip width to center the tooltip*/
    background-color: #C2EAE1;
    padding: 5px;
    z-index: 10;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 2px 3px 0px 0px black;
}

/* Driehoek pijltje */
.word-with-tooltip .tooltip-image::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 270px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #C2EAE1 transparent;
}

.word-with-tooltip:hover .tooltip-image,
.word-with-tooltip.active .tooltip-image {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 900px) {
    .word-with-tooltip .tooltip-image {
        height: 180px;
        width: 480px;
        bottom: -200px; /* Position the tooltip image */
        margin-left: -20px; /* Use half of the tooltip width to center the tooltip*/
    }
    .word-with-tooltip .tooltip-image::after {
        left: 20px;
        margin-left: -5px;
    }

}







.hero-button {
    position: absolute;
    right: 20vw;
    top: 55vh;
    display: none;
}
.hero-button button {
    color: black;
    background: #C2EAE1 !important;
    width: 250px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(0px, 0px);
    box-shadow: 2px 3px 0px 0px black;
}
.hero-button button:hover {
    background: #a0c7be !important;
    transform: translate(1px, 2px);
    box-shadow: 0px 0px black;
}
/* Only show Learn More button on big screens */
@media (min-width: 1300px) {
    .hero-button {
        display: block;
    }
}

.subquote-wrapper {   /* Currently in closed beta */
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 0.6rem;
}
#intro {
    margin-bottom: 100px;
}


/* Green Example */
#green-example {
    position: relative;
    height: auto;
}

/*  Green background things */
.background-green {
    background: #C2EAE1 !important;;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background-swoop {
    position: absolute;
    top: -150px;
    left: 0px;
    z-index: -1;
    width: 1920px;
}
.background-1 {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 450px;
    width: 1920px;
    background: #C2EAE1  !important;;
    z-index: -1;
}
.background-swoop2 {
    position: absolute;
    bottom: -220px;
    left: 0px;
    width: 1920px;
    /* transform scale x and y -1 */
    transform: scale(-1);
    z-index: -1;
}
.background-swoop-end {
    position: absolute;
    top: -300px;
    left: 0px;
    z-index: -1;
    width: 1920px;
}

.background-2 {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 0px;
    width: 1920px;
    background: #C2EAE1 !important;;
    z-index: -1;
}
@media (min-width: 550px) {
    .background-2 {
        height: 130px;
    }
    .background-swoop {
        top: -300px;
    }
    .background-1 {
        height: 250px;
    }
    .background-swoop2 {
        bottom: -300px;
    }
    .background-swoop-end {
        top: -320px;
    }
}
@media (min-width: 1930px) {
    .background-swoop, .background-1, .background-swoop2, .background-swoop-end {
        width: 3840px;
    }
    .background-swoop {
        top: -500px;
    }
    .background-1 {
        height: 250px;
    }
    .background-swoop2 {
        bottom: -500px;
    }
    .background-1, .background-2 {
        height: 0px
    }
    .background-swoop-end {
        top: -600px;
    }
}

.intropic {
    width: 100vw;
    max-width: 500px;
    height: auto;
}
#green-example .info {
    text-align: start;
}

/* White Examples */
#white-example {
    position: relative;
    margin-top: 250px;
}
.gameplay {
    width: 90vw;
    max-width: 700px;
    height: auto;
}
@media (min-width: 1200px) {
    .gameplay {
        max-width: 600px;
    }
}
@media (min-width: 1800px) {
    .gameplay {
        max-width: 900px;
    }
}

#white-example .info {
    text-align: start;
}
.pright {
    padding-right: 0px;
}
.pleft {
    padding-left: 0px;
}
@media (min-width: 1300px) {
    .pright {
        padding-right: 20px;
    }
    .pleft {
        padding-left: 20px;
    }
}
@media (min-width: 1800px) {
    .pright {
        padding-right: 50px;
    }
    .pleft {
        padding-left: 50px;
    }
}
.gameplay, .logo, .logo-bottom {
    transition: scale 0.3s ease;
    cursor: pointer;
    object-fit: contain;
}
.gameplay:hover, .logo:hover, .logo-bottom:hover {
    scale: 1.01;
}

/* Coming soon */
#soon {
    margin-top: 90px;
    text-align: start;
}

@media (min-width: 1300px) {
    #soon {
        margin-top: 150px;
        text-align: center;
    }
}
/* The Team */
#team {
    margin-top: 150px;
}
#team h3 {
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    width: 100px;
    /* perspective: 150px; */
}
.profile-picture {
    border: 1px solid #BABBBB;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #BABBBBA0;
    margin-bottom: 10px;
}
.team-card img {
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
    transition: transform 0.5s;
    cursor: crosshair;
}
.team-card:hover img {
    transform: rotateY(15deg);
    transform: rotateZ(2deg);
}
.team-card p {
    margin-bottom: 5px;
}
@media (min-width: 950px) {
    .team-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .team-card {
        width: 180px;
    }
}


/* FAQ */
#FAQ {
    margin-top: 150px;
}
#FAQ h3 {
    text-align: center;
}

.faq-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq-entry {
    max-width: 600px;
    margin: 40px;
}

/* Kleine lettertjes */
#kleine-lettertjes {
    position: relative;
    margin-top: 150px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background: #C2EAE1 !important;;
    padding-bottom: 50px;
}

#kleine-lettertjes a {
    margin: 40px 20px 20px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    color: gray;
}
.logo-bottom {
    width: 180px;
    opacity: 0.65;
}
.copyright {
    color: grey;
    margin-top: 0px;
    text-align: center;
}
@media (min-width: 950px) {
    #kleine-lettertjes a {
        font-size: 1rem;
    }
    .copyright {
        margin-top: 30px;
    }
}